[submodule "res/web"]
	path = res/web
	url = https://gitlab.com/ilusons/harmony.git
[submodule "res/server/api/libs/AcoustID.NET"]
	path = res/server/api/libs/AcoustID.NET
	url = https://github.com/wo80/AcoustID.NET.git
[submodule "res/server/api/libs/Aurio"]
	path = res/server/api/libs/Aurio
	url = https://github.com/protyposis/Aurio.git
[submodule "res/server/api/libs/MusicBrainz"]
	path = res/server/api/libs/MusicBrainz
	url = https://github.com/Zastai/MusicBrainz.git
[submodule "res/libs/android-openslmediaplayer"]
	path = res/libs/android-openslmediaplayer
	url = https://github.com/Code0987/android-openslmediaplayer.git
[submodule "res/libs/lastfm-java"]
	path = res/libs/lastfm-java
	url = https://github.com/Code0987/lastfm-java.git
[submodule "res/libs/musicbrainz-android"]
	path = res/libs/musicbrainz-android
	url = https://github.com/jdamcd/musicbrainz-android.git
[submodule "res/libs/android-youtubeExtractor"]
	path = res/libs/android-youtubeExtractor
	url = https://github.com/Code0987/android-youtubeExtractor.git
