{
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/release-notes-generator",
      {
        "linkCompare": false,
        "linkReferences": false
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "gradle-semantic-release-plugin",
      {
        "pd": "./src",
        "t": "app:publishReleaseBetaApk"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "./src/gradle.properties"
        ]
      }
    ]
  ]
}