<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilusons.harmony"
    >

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"
        />
    <uses-feature android:name="android.software.live_wallpaper"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher"
            />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent"
            />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel"
            android:value="general"
            />

        <service
            android:name=".base.MusicService"
            android:enabled="true"
            android:exported="true"
            >
        </service>

        <service
            android:name=".base.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
                <data android:mimeType="application/flac"/>
                <data android:mimeType="application/mp4"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
                <data android:mimeType="application/flac"/>
                <data android:mimeType="application/mp4"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:launchMode="singleTop"
            >
        </activity>
        <activity
            android:name=".views.PlaybackUIActivity"
            android:launchMode="singleTop"
            >
        </activity>
        <activity
            android:name=".views.TuneActivity"
            android:launchMode="singleTop"
            >
        </activity>
        <activity
            android:name=".views.LibraryUIActivity"
            android:launchMode="singleTop"
            >
        </activity>
        <activity android:name=".ref.Permissions$PermissionRequestActivity"/>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FilePickerTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver android:name=".base.HeadsetMediaButtonIntentReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.HEADSET_PLUG"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <activity android:name=".views.SleepTimerActivity"/>

        <receiver android:name=".views.SleepTimerActivity$WakefulReceiver"/>
        <receiver
            android:name=".views.SleepTimerActivity$BootReceiver"
            android:enabled="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".views.AnalyticsActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/saf_file_paths"
                />
        </provider>

    </application>

</manifest>